* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* Navbar */
header {
    background: #1e293b;
    padding: 15px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Sections */
.section {
    padding: 60px 20px;
    text-align: center;
}

/* Home */
#home {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Skills */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    background: #334155;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}

/* Projects */
.project-card {
    background: #1e293b;
    margin: 15px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

/* Contact */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #1e293b;
}